<!DOCTYPE html>

<html lang="en">
<head>
        
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
        crossorigin="anonymous">

        <!-- <script
          src="https://code.jquery.com/jquery-3.4.1.js"
          integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="></script> -->

        	<script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>

            <link rel="stylesheet" href="../static/css/base.css">


{% block head %}
{% endblock %}

</head>


<body>
  <title>Yallah Let's Get Tested</title>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/all_docs">Clinics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact_us">Contact Us</a>
        </li>
      </ul>
    </div>
    <a type="button" href="/login" class="btn btn-lg text-center">LogIn</a>
  </nav>

    <!-- <span class="navbar-text"style="color: aliceblue;" >
              <strong>Yallah Let's Get Tested </strong> 
    </span> -->
  {% block heading %}

  {% endblock %} 
  {% block content %}
  {% endblock %}

  {% block map%}
  
  {% endblock %}

  {% block form %}
  
  {% endblock %}

</body>
</html>
