{% extends 'base.html' %}


{% block head  %}
            
            <link rel="stylesheet" href="/static/css/maps.css"> 
            <link rel="stylesheet" href="/static/css/doctor.css">
            <link rel="stylesheet" href="/static/css/home.css">

{% endblock %}

{% block heading %}
<div class="container">
    <div id='firstheading'>
    Find Doctors that are RIGHT for you! 
    </div>
    <div id='secondheading'>
    Sign up today!
    </div>
</div>

{% endblock %}     

 {% block content %}
 <script src="/static/js/mapStyles.js"></script>
 <script src="/static/js/docs_test.js"></script>
 <script
     async defer
     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxYRHis6wsWiumhyTgqSXKrcpbKI3uJiE&callback=initMap">
 </script>

<div class="container">
    <div id="testrow"class="row">
        <div id="col1" class="col">
            <main>
                <section class="map">
                <div id="map"></div>
                </section>
            </main>
           
        </div>

        <div id="col2" class="col">
            
            <h2> Select Doctor</h2>

                <form action='/search'>
                    <label for = "gender">Choose a gender:</label>
                    <select id='gender' name ='gender'>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                        <option value="all">No Preference</option> 
                    </select>
                    <br></br>
                    <label for = "location">Choose a location:</label>
                    <select id='location' name ='location'>
                        <option value="AL BARSHA FIRST">AL BARSHA FIRST</option>
                        <option value="BURJ DUBAI">BURJ DUBAI</option>
                        <option value="AL SAFA FIRST">AL SAFA FIRST</option> 
                        <option value="AL BARSHA THIRD">AL BARSHA THIRD</option> 
                        <option value="AL RIGGA">AL RIGGA</option>
                    </select>
                    <div>
                    <button type="submit" class="btn btn-lg text-center"> Submit</button>
                    </div>
                </form> 
        </div>
    </div>
</div>

{% endblock %}